<div id="avatar-overlay" class="overlay hidden"></div>
<div id="avatar-sidebar" class="sidebar avatar-sidebar hidden">
    <div class="sidebar-header">
        <div class="logo-icon">
            <img src="../components/images/default_avatar.webp" alt="avatar" class="avatar">
            <span style="margin-left: 10px;">Jonh Doe</span>
        </div>
        <button id="close-avatar-sidebar" class="close-btn">&times;</button>
    </div>
    <ul class="sidebar-menu">
        <li><a href="../myprofile/profile.html"><i class="fa-solid fa-user"></i> My Profile</a></li>
        <li><a href="../Wishlist/wish.html"><i class="fa-solid fa-star"></i> Wish List</a></li>
        <li><a href="../settings/account.html"><i class="fa-solid fa-gear"></i> Settings</a></li>
        <li id="logout-btn"><a href="#"><i class="fa-solid fa-right-from-bracket"></i> Sign out</a></li>
    </ul>
</div>