<div id="hamburger-overlay" class="overlay hidden"></div>
<div id="hamburger-sidebar" class="sidebar">

    <div class="sidebar-header">
        <div class="logo-icon">
            <img src="../components/images/logo-codebay.webp" alt="Logo" class="logo-icon-img">
        </div>
        <button id="close-sidebar" class="close-btn">&times;</button>
    </div>
    <ul class="sidebar-menu">
        <li><i class="fa-solid fa-store"></i> Market</li>
        <li><i class="fa-solid fa-cart-shopping"></i> Cart</li>
        
        <li class="hamb-sidebar__menu-item--has-submenu">
            <div class="hamb-sidebar__submenu-toggle">
                <span><i class="fa-solid fa-handshake"></i> My Sales</span>
                <i class="fa-solid fa-chevron-down hamb-sidebar__submenu-chevron"></i>
            </div>
            <ul class="hamb-sidebar__submenu-list">
                <li class="marker-remove"><i class="fa-solid fa-box"></i> My Products</li>
                <li class="marker-remove"><i class="fa-solid fa-chart-column"></i> Analytics</li>
            </ul>
        </li>
        <li><i class="fa-solid fa-box-open" style="margin-left: -1px;"></i> My Orders</li>
        <li><i class="fa-solid fa-bell"></i> Notifications</li>
        <li><i class="fa-solid fa-message"></i> Messages</li>
    </ul>
</div>