<div class="header">
    <div class="left-section">
        <div class="hamburger">
            <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path fill="#c8c9cd" d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z" />
            </svg>
        </div>
        <div class="logo-container">
            <a class="logo-circle" href="../homepage/index.html">
                <img src="../components/images/logo-codebay.webp" alt="Logo" class="logo">
            </a>
            <a class="brand" href="../homepage/index.html">CodeBay</a>
        </div>
    </div>

    <div class="right-section">
        <div class="icons_box">
            <div class="icons">
                <i id="messageToggle"class="fa-solid fa-message"></i>
                <div id="messageDropdown" class="notification-dropdown">
                    <div class="notification-item">
                        <img src="../components/images/default_avatar.webp" class="notification-icon" alt="icon" />
                        <div class="notification-text">Coming soon...</div>
                    </div>
            </div>
            </div> 
            <div class="icons">
                <i id="notificationToggle" class="fa-solid fa-bell" style="margin-bottom: 2px;"></i>

                <div id="notificationDropdown" class="notification-dropdown">
                    <div class="notification-item">
                        <img src="../components/images/default_avatar.webp" class="notification-icon" alt="icon" />
                        <div class="notification-text">Coming soon...</div>
                        <div class="notification-price">+100€</div>
                        <div class="notification-time">9:41 AM</div>
                    </div>
                    <div class="notification-item">
                        <img src="../components/images/default_avatar.webp" class="notification-icon" alt="icon" />
                        <div class="notification-text">Coming soon...</div>
                        <div class="notification-price">+100€</div>
                        <div class="notification-time">9:41 AM</div>
                    </div>
                    <div class="notification-item">
                        <img src="../components/images/default_avatar.webp" class="notification-icon" alt="icon" />
                        <div class="notification-text">Coming soon...</div>
                        <div class="notification-price">+100€</div>
                        <div class="notification-time">9:41 AM</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="logo-circle">
            <img src="../components/images/default_avatar.webp" alt="avatar" class="avatar">
        </div>
    </div>
</div>