<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Document</title>
    {% endblock %}
</head>
<body>
    {% block menu %}
    menu
    {% endblock %}
    
    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}
    content
    {% endblock %}
    
</body>
</html>