body {
    background-color: #0D1116;
    margin: 0;
    font-family: sans-serif;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background-color: #020408;
    color: #c8c9cd;
    z-index: 999;
    transform: translateX(-100%);
    transition: transform 0.6s ease;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-right:  0.6px solid #c8c9cd;
}

.sidebar.show {
    transform: translateX(0);
}

.hidden {
    display: none;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    width: 40px;
    height: 40px;
}

.logo-icon-img {
    width: 150%;
    height: 150%;
    object-fit: cover;
}

.close-btn {
    font-size: 28px;
    background: none;
    border: none;
    color: #c8c9cd;
    cursor: pointer;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-menu li {
    cursor: pointer;
}

.sidebar-menu li>i {
    margin-right: 12px;
    vertical-align: middle;
}

.has-submenu {
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.submenu {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.has-submenu div {
    display: flex;
    gap: 12px;
    align-items: center;
}

.avatar-sidebar {
    right: 0;
    left: auto;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    transform: translateX(100%);
    transition: transform 0.6s ease;
    border-left: #c8c9cd 0.6px solid;
    border-right: none;
    background-color: #020408;
}

.avatar-sidebar.show {
    transform: translateX(0);
}

.avatar-sidebar .logo-icon {
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar-sidebar .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
