<div id="avatar-overlay" class="overlay hidden"></div>
<div id="avatar-sidebar" class="sidebar avatar-sidebar hidden">
    <div class="sidebar-header">
        <div class="logo-icon">
            <img src="../components/images/ChatGPT_Image_30_05_2025_21_53_58.png" alt="avatar" class="avatar">
            <span style="margin-left: 10px;">Jonh Doe</span>
        </div>
        <button id="close-avatar-sidebar" class="close-btn">&times;</button>
    </div>
    <ul class="sidebar-menu">
        <li><i class="fa-solid fa-user"></i> My Profile</li>
        <li><i class="fa-solid fa-star"></i> Wish List</li>
        <li><i class="fa-solid fa-gear"></i> Settings</li>
        <li><i class="fa-solid fa-right-from-bracket"></i> Sign out</li>
    </ul>
</div>