<div class="card">
  <div class="preview">
    <img src="https://img.youtube.com/vi/7V5jdOjWVU4/maxresdefault.jpg" alt="Discord" class="image-placeholder">
  </div>

  <div class="details">
    <div class="heading">E-commerce Template</div>
    <div class="description">Modern and ready-to-use template for online stores.</div>
    <div class="tech">HTML, CSS, Javascript</div>

    <div class="price-rating">
      <div class="price">100€</div>
      <div class="rating">
        <div class="stars">★★★★★</div>
        <div>5.0</div>
        <div style="color: #aaa;">40 reviews</div>
      </div>
    </div>

    <div class="button">View details</div>
  </div>
</div>
