<div id="sidebar-overlay" class="overlay hidden"></div>
    <div id="sidebar" class="sidebar hidden">
        <div class="sidebar-header">
            <div class="logo-icon">
                <img src="../components/images/logo.png" alt="Logo" class="logo-icon-img">
            </div>
            <button id="close-sidebar" class="close-btn">&times;</button>
        </div>
        <ul class="sidebar-menu">
            <li><i class="fa-solid fa-store"></i> Market</li>
            <li><i class="fa-solid fa-cart-shopping"></i> Cart</li>
            <li class="has-submenu">
                <div class="submenu-toggle"><i class="fa-solid fa-handshake"></i> My Sales <i class="fa-solid fa-chevron-down"></i></div>
                <ul class="submenu hidden">
                    <li class="marker-remove"><i class="fa-solid fa-box"></i> My Products</li>
                    <li class="marker-remove"><i class="fa-solid fa-chart-column"></i> Analytics</li>
                </ul>
            </li>            
            <li><i class="fa-solid fa-box-open" style="margin-left: -1px;"></i> My Orders</li>
            <li><i class="fa-solid fa-bell"></i> Notifications</li>
            <li><i class="fa-solid fa-message"></i> Messages</li>
        </ul>
    </div>