<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/header_logged_out.css">
</head>

<body>
    <header class="header">
        <div class="header-content">
            <div class="logo-section">
                <div class="logo-wrapper">
                    <img src="images/logo.png" alt="Logo" class="logo" />
                </div>
                <span class="brand">CodeBay</span>
            </div>
            <div class="auth-buttons">
                <a href="#" class="signin">Signin</a>
                <a href="#" class="signup">Signup</a>
            </div>
        </div>
    </header>

</body>

</html>