
    <div class="header">
        <div class="header-content">
            <div class="logo-section">
                <a class="logo-wrapper" href="index.html">
                    <img src="../components/images/logo.png" alt="Logo" class="logo" />
                </a>
                <a class="brand" href="index.html">CodeBay</a>
            </div>
            <div class="auth-buttons">
                <a href="#" class="signin">Signin</a>
                <a href="#" class="signup">Signup</a>
            </div>
        </div>
    </div>
