<div class="header">
    <div class="header-content">
        <div class="logo-section">
            <a class="logo-wrapper" href="index.html">
                <img src="../components/images/logo-codebay.webp" alt="Logo" class="logo" />
            </a>
            <a class="brand" href="index.html">CodeBay</a>
        </div>
        <div class="auth-buttons">
            <a href="../registrations/signin.html" class="signin">Signin</a>
            <a href="../registrations/signup.html" class="signup">Signup</a>
        </div>
    </div>
</div>