body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  background-color: #05060A;
  height: 96px;
  display: flex;
  align-items: center;
  padding: 0 32px;
  border-bottom: 1px solid #1a1a1a;
}

.header-content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-wrapper {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 120%; /* zoom */
  height: 120%;
  object-fit: cover;
}





.brand {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.signin {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.signup {
  color: white;
  background-color: #5A69EA;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
